/* Reset */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* Regole generali */
body {
      background-color: lightgray;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Roboto', sans-serif;
}

/* Header */
header {
      height: 70px;
      background-color: white;
      margin-bottom: 50px;
      line-height: 70px;
}

#header-logo {
      vertical-align: middle;
}

#header-title {
      font-weight: 700;
      font-size: 40px;
      display: inline-block;
      vertical-align: middle;
}

/* Main */
main {
      width: 70%;
      margin: 0 auto;
}

.container {
      margin-bottom: 3px;
      padding-left: 70px;
}

nav {
      background-color: white;
      height: 60px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      line-height: 60px;
}

.blue-button {
      background-color: #33bdef;
      border-radius: 6px;
      border: 1px solid #057fd0;
      color: #ffffff;
      font-size: 15px;
      font-weight: bold;
      padding: 6px 24px;
}

.white-button {
      background-color: #ffffff;
      border-radius: 6px;
      border: 1px solid #dcdcdc;    
      color: #666666;
      font-size: 15px;
      font-weight: bold;
      padding: 6px 24px;
}

.todo-lists {
      height: 550px;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
}

.section {
      padding-top: 20px;
}

ul {
      list-style-type: none;
}

li {
      padding-top: 10px;
}

h3::before {
      content: '\25BC';
}

.circle::before {
      border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            margin-right: 10px;
            display: inline-block;
}

.accepted::before {
      content: '\2713';
      color: green;
      border: 1px solid green;
}

.negated::before {
      content: '\2717';
      color: red;
      border: 1px solid red;
}

.box::after {
      margin-left: 10px;
      display: inline-block;
      text-align: center;
      padding: 6px 10px;
      border-radius: 10px;
      font-size: 10px;
}

.editorial::after {
      content: 'Editorial';
      color: white;
      background-color: #019ad2;
}

.goals::after {
      content: 'Q1 goals';
      color: white;
      background-color: violet;
}

.recruiting::after {
      content: 'Recruiting';
      color: white;
      background-color: green;
}

.mobile::after {
      content: 'Mobile';
      color: white;
      background-color: orange;
}

.website::after {
      content: 'Website';
      color: white;
      background-color: rgb(111, 24, 111); 
}

.sales::after {
      content: 'Sales';
      color: white;
      background-color: greenyellow;
}